/* Copy and paste to tt-rss custom CSS area */
/* creator avatar */
p[ttrss-class="meta-info"] { display: inline-flex; align-items: center; gap: 8px; }
span[ttrss-class="creator-avatar"] { width: 48px; height: 48px; overflow: hidden; display: inline-block; }
span[ttrss-class="creator-avatar"] img { max-width: 48px; object-fit: cover; min-height: 100%; }
/* images and videos gallery */
div[ttrss-class="outer-box"] { width: 100%; height: auto; overflow-x: auto; overflow-y: hidden; white-space: nowrap; }
div[ttrss-class="inner-box"] { display: flex; flex-direction: row; gap: 10px; width: fit-content}
div[ttrss-class="inner-box"] a img, div[ttrss-class="inner-box"] a video { max-width: 200px !important; height: auto; flex-shrink: 0; }